#home-page {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 4px;
    row-gap: 4px;;
}

#header {
    grid-column: 1 / 3;
}

#searchbar {
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 100%;
}

#search-btn {
    height: 25px;
}

#search-btn:hover {
    cursor: pointer;
}

#search {
    background-color: rgb(211, 211, 211, 0.6);
    border: none;
    border-radius: 16px;
    padding: 8px;
    font-weight: bold;
    font-size: 12px;
    text-align: start;
    width: 100%;
}

#search:focus {
    outline: 0px;
    border: 3px solid #1da1f1;
}

#tweet-button {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    text-align: center;
    background-color: #1da1f1;
    width: 30%;
    justify-self: center;
    align-self: center;
    margin: 8px;
    border-radius: 24px;
    padding: 6px;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

#tweet-button:hover {
    opacity: 90%;
    cursor: pointer;
}

#home-view-select {
    width: 95%;
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-around;
    justify-self: center;
}

.home-view-btn {
    width: 100%;
    text-align: center;
    padding: 4px;
}

.home-view-btn:hover {
    background-color: rgb(29, 161, 241, 0.6);
    cursor: pointer;
    color: white;
}

.selected-home-view {
    background-color: rgb(209, 208, 208, 0.6);
}

#feed {
    justify-self: center;
    grid-column: 1 / 3;
    display: grid;
    align-items: center;
    justify-items: center;
    width: 90%;
    margin: 4px;
    gap: 2px;
}