#tweet-button {
    text-align: center;
    background-color: #1da1f1;
    width: 30%;
    justify-self: center;
    align-self: center;
    margin: 8px;
    border-radius: 24px;
    padding: 6px;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

#tweet-button:hover {
    opacity: 90%;
    cursor: pointer;
}

#feed {
    display: grid;
    align-items: center;
    justify-items: center;
}