#home-page {
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-logo {
    height: 40px;
}

#main-title {
    font-weight: bold;
    font-size: 32px;
    color: #1da1f1;
}

#main-nav {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    font-weight: bold;
    color: #1da1f1;
    cursor: default;
}

#log-out-button:hover {
    cursor: pointer;
    color: lightgray;
}

#profile-icon {
    border-radius: 50%;
    grid-row: 1 / 3;
    height: 30px;
}