.tweet {
    display: grid;
    text-align: center;
    border: 1px solid rgb(211, 211, 211, 0.6);
    padding: 8px;
    width: 100%;
    grid-template-columns: 1fr 8fr;
}

.tweet-details {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: 8px;
}

.tweet:hover {
    background-color: rgb(211, 211, 211, 0.4);
}

.tweet-profilePic {
    height: 50px;
    border-radius: 50%;
}

.tweet-name {
    text-align: start;
    justify-self: start;
    font-weight: bold;
    width: 100%;
    text-decoration: none;
    color:rgb(72, 72, 72);
}

.tweet-name:hover {
    text-decoration: underline;
}

.tweet-message {
    align-self: start;
    font-weight: 500;
    width: 100%;
    text-align: start;
    margin-bottom: 8px;
}

.tweet-message:hover {
    cursor: pointer;
}

.interaction-btns-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.interaction-btns {
    display: flex;
    gap: 6px;
    cursor: pointer;
}

.tweet-interaction-btn {
    height: 20px;
    cursor: pointer;
}

.comment {
    display: flex;
    flex-direction: column;
}

.comment-interaction-btn {
    height: 15px;
    cursor: pointer;
}

.retweet-btn {
    height: 24px;
}

.tweet-delete {
    color: rgb(72, 72, 72);
    font-size: 12px;
    font-weight: bold;
}

.tweet-delete:hover {
    filter: invert(16%) sepia(94%) saturate(3836%) hue-rotate(352deg) brightness(80%) contrast(109%);
}

.liked {
    filter: invert(16%) sepia(94%) saturate(3836%) hue-rotate(352deg) brightness(80%) contrast(109%);
}

.retweeted {
    filter: invert(32%) sepia(88%) saturate(1137%) hue-rotate(92deg) brightness(96%) contrast(100%);
}

.tweet-time {
    display: flex;
    gap: 8px;
    align-self: end;
    align-items: center;
}

.tweet-date {
    font-weight: bold;
    font-size: 14px;
    color: rgb(72, 72, 72);
}

.tweet-time-details {
    color: darkgray;
    font-size: 12px;
}