.tweet {
    display: grid;
    border: 1px solid rgb(211, 211, 211, 0.6);
    padding: 8px;
    width: 95%;
    grid-template-columns: 1fr 8fr;
    box-shadow: 1px 1px 5px lightgray;
}

.tweet-details {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: 8px;
}

.tweet.hovered {
    background-color: rgb(211, 211, 211, 0.4);
}

.profile-pic-link {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tweet-profilePic {
    height: 70px;
    border-radius: 50%;
}

.tweet-name {
    text-align: start;
    justify-self: start;
    font-weight: bold;
    width: 100%;
    text-decoration: none;
    color:rgb(72, 72, 72);
}

.tweet-name:hover {
    text-decoration: underline;
}

.tweet-message {
    align-self: start;
    font-weight: 500;
    width: 100%;
    text-align: start;
    margin-bottom: 8px;
}

.tweet-message:hover {
    cursor: pointer;
}

.interaction-btns-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.interaction-btns {
    display: flex;
    gap: 6px;
    cursor: pointer;
}

.tweet-interaction-btn {
    height: 20px;
    cursor: pointer;
}

.retweet-btn {
    height: 24px;
}

.tweet-delete {
    color: rgb(72, 72, 72);
    font-size: 12px;
    font-weight: bold;
}

.tweet-delete:hover {
    filter: invert(16%) sepia(94%) saturate(3836%) hue-rotate(352deg) brightness(80%) contrast(109%);
}

.liked {
    filter: invert(16%) sepia(94%) saturate(3836%) hue-rotate(352deg) brightness(80%) contrast(109%);
}

.retweeted {
    filter: invert(32%) sepia(88%) saturate(1137%) hue-rotate(92deg) brightness(96%) contrast(100%);
}

.tweet-time {
    display: flex;
    gap: 8px;
    align-self: end;
    align-items: center;
}

.tweet-date {
    font-weight: bold;
    font-size: 14px;
    color: rgb(72, 72, 72);
}

.tweet-time-details {
    color: darkgray;
    font-size: 12px;
}

.comment-section {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    margin: 8px 16px 0px 16px;
    padding: 4px;
    gap: 8px;
}

#comment-section-title {
    color: #f5983b;
    font-weight: bold;
}

.comment {
    display: flex;
    /* border: 1px solid lightgray;
    border-top: none; */
    padding: 4px;
    box-shadow: 1px 1px 5px lightgray;
}

.comment-profilePic {
    height: 50px;
}

.comment-details {
    display: flex;
    flex-direction: column;
    margin-left: 4px;
    gap: 4px;
    width: 100%;
}

.comment-name {
    color: rgb(72, 72, 72);
    font-weight: bold;
}

.comment-message {
    text-align: start;
}

.comment-name:hover {
    cursor: pointer;
    text-decoration: underline;
}

.comment-interaction-btn {
    height: 20px;
    cursor: pointer;
}

.comment-interaction-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.comment-like-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.comment-delete {
    font-size: 12px;
    font-weight: bold;
    color: rgb(72, 72, 72);
}

.comment-delete:hover {
    cursor: pointer;
    filter: invert(16%) sepia(94%) saturate(3836%) hue-rotate(352deg) brightness(80%) contrast(109%);
}